
:root{
    --barColor: rgb(247,247,247);
    --aColor: rgb(0,0,0);
    --White: rgb(255,255,255);
    --BlueLight: #1a73e8;
    --BlueDark: #1a0dab;
    --BotBarFont: #70757a;
    --BotBarBord: #dadce0;
    --BotBarBg: #f2f2f2;

}

body{
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    padding: 0;
}

a{
    padding: 1em;
    color: var(--aColor);
}


a.signin:link, a.signin:visited{
    background-color: var(--BlueLight);
    color: var(--White);
    border-radius: 0.35em;
    padding: 1em 2.25em;
}

a.signin:hover{
    text-decoration: none;
}

a.alang:link, a.alang:visited{
    color:var(--BlueDark);
}

a:link{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.container{
    
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
        
}

.child{
    align-self: center;
}

.aleft{
    display: flex;
    align-content: center;
    
}

.aright{
    display: flex;

    margin-left: auto;
}

.dots{
    padding-right: 3em;
    padding-top: 0;
}

.toplineEntry{
    align-content: center;
    padding-top: 1em;
}

.topbar{
    display: flex;
    
}

.logo{
    flex: 2;
    display:flex;
    align-items: end;
}

.logoText{
    font-family: "Pristina";
    font-size: 8em;
    padding:0;
    margin:1em 0em 0.25em 0em;
}

.search{
    flex: 1;
}

.buttons{
    flex: 1;
}

.lang{
    flex: 2;
}

.geo{
    display: flex;
    justify-content: space-between;
    flex: 0.5;
    background-color: var(--BotBarBg);
    color: var(--BotBarFont);
    padding-left: 1em;
    border-bottom: 2px solid var(--BotBarBord);
    
}

.footer{
    display: flex;
    flex: 0.5;
    
    padding-top: 1em;
    background-color: var(--BotBarBg);
    
    
}

.abot{
    color: var(--BotBarFont);
}

.lookupsvg{
    height:20px;
    line-height:20px;
    width:20px;
}